html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#main, #header, #footer {
  box-sizing: border-box;
}

#main {
  flex: 1;
  display: flex;
}

#header, #footer {
  padding: 0.5rem;
}

#footer {
  text-align: right;
  font-size: 0.7rem;
}
