#######################################################################
# 組織構成
#######################################################################
dn: ${LDAP_ROOT}
changetype: add
objectClass: top
objectClass: dcObject
objectClass: organization
o: Example Corporation
dc: ${LDAP_ROOT_DC}

#######################################################################
# 組織単位構成
#######################################################################
dn: ou=service_accounts,${LDAP_ROOT}
changetype: add
objectClass: organizationalUnit
ou: service_accounts

dn: ou=users,${LDAP_ROOT}
changetype: add
objectClass: organizationalUnit
ou: users

dn: ou=groups,${LDAP_ROOT}
changetype: add
objectClass: organizationalUnit
ou: groups

#######################################################################
# Bind Service Accounts
#######################################################################
dn: cn=${LDAP_BIND_CN_NEXUS},ou=service_accounts,${LDAP_ROOT}
changetype: add
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: ${LDAP_BIND_CN_NEXUS}
description: Bind account for Nexus LDAP authentication
userPassword: ${LDAP_BIND_PASS_NEXUS}

#######################################################################
# Bind Groups
#######################################################################
dn: cn=viewers,ou=groups,${LDAP_ROOT}
changetype: add
objectclass: groupOfNames
objectclass: top
cn: viewers
description: Groups for Nexus Viewers

dn: cn=editors,ou=groups,${LDAP_ROOT}
changetype: add
objectclass: groupOfNames
objectclass: top
cn: editors
description: Groups for Nexus Editors
